.idea/workspace.xml
reference_strings.txt
.vscode/launch.json
.idea/
data/cermine_result.txt
generated_data/
__pycache__/
data/moredata/cermine_result.txt
data/embeddings/glove-300.matrix.npy
data/embeddings/glove-300.gensim.vectors.npy
data/embeddings/glove-300.gensim
data/embeddings/glove-300.map
data/histories/
data/models/
